#container {
  margin: 10px auto;
  /* border: 2px solid orange; */
  height: 1000px;
  width: 70%;
  margin-top: 80px;
}
.payment {
  width: 62%;
  float: left;
  font-family: sans-serif;
  /* margin-left: 100px; */
  margin-top: 20px;
}
.order {
  width: 25%;
  float: right;
  margin-right: 100px;
}

#paymentmethod {
  height: 100px;
  border: none;
  margin-top: 21px;
  margin-bottom: 0px;
}
.payment > div {
  margin-bottom: 10px;
  border: 1px solid #dfdfdf;
}
#freedelivery {
  background-color: #6b7c84;
  font-size: 14px;
  color: #fff;
  position: relative;
  padding: 5px 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-family: "Aqleema-Regular";
}
.header {
  padding: 12px 15px;
  padding-top: 12px;
  padding-right: 15px;
  padding-bottom: 12px;
  padding-left: 15px;
  font-size: 18px;
  font-family: "Aqleema-Medium";
  background-color: #f8f9fa;
  margin: 0;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
#form1 > div {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #566770;
  font-family: "Aqleema-regular";
  border: 1px solid #e9eced;
  border-radius: 3px;
  padding: 0 15px;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin-top: 20px;
  margin-left: 20px;
  font: 400 13.3333px Arial;
  width: 70%;
  margin-bottom: 5px;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  height: 20px;
  margin: 10px 5px 22px 0;

  border: none;
  outline: none;
}
.banklogo > img {
  width: 65px;
  height: 65px;
  padding: 10px;
  margin-left: 5px;
}
.button {
  margin-left: 15px;
  vertical-align: middle;
  display: inline-block;
  display: inline-block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-family: "Aqleema-Medium";
  font-size: 16px;
  text-align: left;
  margin: 0;
  letter-spacing: 0.5px;
  color: #2c414c !important;
  font-weight: 400;
  width: 90%;
  position: static;
  line-height: 1.46;
}

.rightdiv {
  width: 21%;
  margin-left: 50px;
  height: 500px;
  float: right;
  font-family: sans-serif;
  color: #566770;
  letter-spacing: 0.6px;
  position: fixed;
  margin-top: 5%;
  /* margin-right: 6%; */
}

.needhelp {
  border: 1px solid #dfdfdf;
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
}

.mail {
  float: left;
  margin-top: 1%;
  line-height: 1.6;
}

.change {
  float: right;
  margin-top: 7%;
  color: #e40980;
}

.login {
  height: 50px;
  margin-top: 10px;
  font-size: 12px;
}
.hrLine {
  opacity: 0.3;
}

hr {
  clear: both;
}

.showitem,
.priceDetails {
  font-size: 12px;
}

.total_mrp,
.savings_on_mrp,
.sub_total,
.shipping_charges,
.coupon_discount,
.order_total {
  height: 25px;
  font-family: sans-serif;
  font-size: 12px;
  letter-spacing: 0.6px;
  /* border: 1px solid red; */
}

.t_mrp,
.s_mrp,
.sub_mrp,
.shipping,
.coupon,
.o_total_mrp {
  float: left;
}

.t_price,
.s_price,
.sub_price,
.shipping_price,
.apply_coupon,
.o_total_price {
  float: right;
  font-family: sans-serif;
  font-size: 12px;
  letter-spacing: 0.6px;
}

.you_save {
  height: 30px;
  /* border: 1px solid orange; */
  font-size: 12px;
  margin-top: 0%;
}

.save {
  float: left;
  margin-right: 35%;
}

.save_price {
  float: right;
}

.pink {
  color: #e40980;
}

.o_total_mrp,
.o_total_price {
  font-size: 16px;
  margin-top: 1.5%;
}

.bold {
  font-weight: 550;
  color: #566770;
}

.step-progressbar {
  display: block;
  width: 100%;
  float: left;
  margin-top: 2%;
}

ul {
  display: flex;
  list-style: none;
  align-items: center;

  justify-content: space-between;
  counter-reset: step;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  position: relative;
  width: 33%;
  height: 30px;
  text-align: center;
  margin: 0;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 12px;
}

li:before {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e40980;
  border: 2px solid #e40980;
  line-height: 20px;
  text-align: center;
  content: counter(step);
  counter-increment: step;
  margin: 10px auto;
  position: relative;
  z-index: 2;
  font-size: 15px;
}

li:last-child::before {
  background-color: none;
}

li.active {
  font-weight: bold;
}

li:after {
  content: "";
  width: 91%;
  height: 3px;
  background-color: #e40980;
  position: absolute;
  top: 23px;
  left: -46%;
  z-index: 1;
}

li:first-child:after {
  content: none;
}
li:nth-child(2):before {
  color: #fff;
}
li.active + li:after {
  background-color: #e40980;
}

li.active:before,
li:first-child:before {
  background-color: #e40980;
  color: white;
}
.img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
.navMiddleContainer {
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  justify-content: center;
  margin-bottom: 10px;
  background-color: white;
  position: fixed;
  z-index: 10;
  padding-top: 10px;
  top: 0;
  box-shadow: 0px 1px 1px #2b303160;
}
#tryElite {
  width: 50px;
  height: 40px;
  margin-bottom: 10px;
}
.navMid > img {
  height: 50.5938px;
  width: 90px;
}
.navMid > img:hover {
  cursor: pointer;
}
.navRight {
  width: 50%;
  margin-left: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.icons {
  margin-top: 100px;
  margin: 20px;
  font-size: 15px;
  color: rgb(128, 140, 147);
}
.icons:hover {
  cursor: pointer;
}
